
<div class="jumbotron text-center">
    <h1>The place where your screams for help will be heard!</h1>

    <p>Post your problem, with the needed information for the helpers.</p>
</div>
<div class="col-lg-7" > <!-- ng-hide="identity.isAuthenticated()"-->
    <div class="well bs-component">
        <form class="form-horizontal">
            <fieldset>
                <legend>Your SOS sign:</legend>
                <div class="form-group">
                    <label for="username" class="col-lg-2 control-label">Username</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="username" placeholder="Username" ng-model="postComment.username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword" class="col-lg-2 control-label">Phone</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" id="inputPassword" placeholder="Phone" ng-model="postComment.password">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="comment" class="col-lg-2 control-label">Information</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control input-lg" id="comment" placeholder="The kind of help needed." ng-model="postComment.comment">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" ng-click="PostComment(postComment)">Post</button>
                    </div>
                </div>
            </fieldset>

        </form>
    </div>
</div>
 <div class="col-lg-7">
<blockquote ng-repeat="post in posts">
    <p>{{post.add}}</p>
    <small>{{post.username}}{{"   "}}{{post.password}}</small>
</blockquote>
 </div>
        <!--{{posts[0].username}}-->
